a{
	text-decoration: none;
}

.logo{
	padding: 10px;
	float: left;
}
.nav{
	background: black;
	width:100%;
	height: 40px;
	position: fixed;
	top:0;
}
.href{
	float: right;
	padding: 8px;
}

.nav-href{
	padding:0 30px;
	color: #fff;
	transition: all 0.5s ease 0s;
}

.nav-href:hover{
	color: #FFFF00;

}
.slide{
	width: 100%;
	height: 500px;

}

.transition{
	margin:100px auto;
	width: 300px;
	height: 200px;
	text-align: center;
}

#long{
	font-size: 30px;
}

.s-title{
	color: #999;
	font-size: 20px;
}

hr{
	opacity: 0.7;
}

.about{
	width: 100%;
	height: 300px;
	margin-top:-5px; 
}
.background-img{
	width: 35%;
	float: left;
}

.word{
	width: 65%;
	height: 300px;
	float: left;
	background: #000;
	color:#fff;
	
}

.content{
	margin:80px;
}
